.kep{
    max-width: 100%;
    height:auto;
    padding-bottom: 20px;
    
}
.name{
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
    padding-bottom: 8px;
}
.doboz{
    max-width: 600px;
    display: flex;
    justify-content: center;
}
.blogdoboz{
    margin-top: 50px;
}